VITE_FIREBASE_API_KEY=AIzaSyAGuAJ7zmfgjTFFZcTkp6VhLLyCD0juMlY
VITE_FIREBASE_AUTH_DOMAIN=mahmoud-shabaan-legal.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=mahmoud-shabaan-legal
VITE_FIREBASE_STORAGE_BUCKET=mahmoud-shabaan-legal.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=323152856872
VITE_FIREBASE_APP_ID=1:323152856872:web:0d29a3a839d97bc688f21d
VITE_CLOUDINARY_CLOUD_NAME=dkthrgzvj
VITE_CLOUDINARY_UPLOAD_PRESET=law_firm_preset